.menu-list {
  width: 576px;
}
.menu-item {
  line-height: 32px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: 600;
  padding: 3px 13px !important;
  width: 140px;

  &:hover {
    background-color: #ffffff05;
    border-radius: 8px;
    color: var(--primary);
  }
}
.menu-popper {
  padding-bottom: 8px;
}

.menu-body {
  overflow-y: auto;
}
